{% extends 'base.html' %}
{% block ex_headers %}
    <script>
        const ID = "{{id}}";
    </script>

    <script src="https://cdn.socket.io/4.4.1/socket.io.min.js" integrity="sha384-fKnu0iswBIqkjxrhQCTZ7qlLHOFEgNkRmK2vaO/LbTZSXdJfAu6ewRBdwHPhBo/H" crossorigin="anonymous"></script>

    <script defer src="/static/js/render_slides.js"></script>
    <script defer src="/static/js/host_view.js"></script>
    <script defer src="/static/js/present.js"></script>
{% endblock %}
{% block content %}
    <header id="navbar">
        <nav id="nav-left">
            <a href="/" class="navbar-item">
                <img src="/static/resources/logo.svg" alt="Logo">
            </a>
            <a href="/" class="navbar-item" id="navbar-title">Liveline</a>
        </nav>
        <nav id="nav-right">
            <button class="button navbar-item hoverable" title="Present" onclick="present()">Start Presenting</button>
            <button class="button navbar-item hoverable" title="Present" hidden="hidden" onclick="present()">Stop Presenting</button>
            <a href="/host/presentation_creator/{{id}}" class="button navbar-item hoverable" title="Edit">Edit</a>
            <button class="button navbar-item hoverable" title="<- Last Slide" onclick="lastSlide()"><- Last Slide</button>
            <button class="button navbar-item hoverable" title="Next Slide ->" onclick="nextSlide()">Next Slide -></button>
        </nav>
    </header>
    <main id="pres-view">
        
    </main>
{% endblock %}