{% extends 'base.html' %}
{% block content %}
    <div class="popup">
        <main id="setup">
            <h1 class="title">Join Presentation</h1>
            <form action="#" method="post" enctype=multipart/form-data>
                <input type="text" name="room_code" id="room_code" placeholder="Room Code"><br>
                <input type=submit value="Confirm" class="button hoverable">
            </form>
            <a href="{{url_for('profile.profile_page')}}" class="button hoverable">Cancel</a>
        </main>
    </div>
{% endblock %}