{% extends 'base.html' %}

{% block content %}
    <main id="presentation_creator">
        <div id="sidebar">
            <span draggable="true">Text Element</span>
            <span draggable="true">Image Element</span>
        </div>

        <form class="drop-form" action="#" method="post" enctype=multipart/form-data>
            <div id="preview" class="drop-area">
            </div>

            <input class="upload-input" type="file" name="presentation" accept="image/png, image/jpeg, image/svg" hidden="hidden">
            <input type=submit value="Upload" hidden="hidden">
        </form>

        <script src="/static/js/drag_drop.js"></script>
    </main>
{% endblock %}